@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #8B929D;
}
.textpro {
  color: #2A2866;
}
.textlogout {
  color: #ff0a0a;
}
.text1{
  left: 210px;
  width: 570px;
  height: 15px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 25px/1px FC Iconic;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1; 
}
.text2{
  left: 110px;
  width: 560px;
  height: 35px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal normal 15px/1px FC Iconic;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}
.text5{
  color: #8B929D;
}
.text6{
  color: #2A2866;
  text-align: left;
}
 .head{
    top: -10px;
  width: 1325px;
  height: 150px; 
  background: var(--unnamed-color-2a2866) 0% 0% no-repeat padding-box;
  background: #2A2866 0% 0% no-repeat padding-box;
  opacity: 1;
 }

 .dropdown2{
  color: #2A2866;
  top: 10px;
  left: 20px;
  width: 256px;
  height: 45px;
 }
 .dropdown3{
  color: #2A2866;
  top: 1px;
  left: 1px;
  width: 256px;
  height: 55px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  ;
 }
 .menu{
  color: #2A2866;
  top: 30px;
  left: 25px;
  width: 256px;
  height: 43px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  ;
 }

 .botton{
  top: 40px;
 left: 980px;
  width: 227px;
  height: 43px;
  opacity: 1;
 }
 .pro{
  top: 30px;
  left: 620px;
  width: 73px;
  height: 73px;
  border: 2px solid var(--unnamed-color-ffffff);
  border: 2px solid #FFFFFF;
  opacity: 1;
 }
 .box{
  top: 0px;
  left: 0px;
  width: 136px;
  height: 1080px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: px 20px 20px 0px;
  opacity: 1;
 }
 .box1{
  top: 3px;
  left: 0px;
  width: 106px;
  height: 99px;
  background: var(--unnamed-color-2a2866) 0% 0% no-repeat padding-box;
  background: #2A2866 0% 0% no-repeat padding-box;
  border-radius: 30px 20px 20px 30px;
  opacity: 1;
 }

.box4{
  top: 1px;
  width: 300px;
  height: 265px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-f0eff4);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0EFF4;
  border-radius: 10px;
  opacity: 1;
}
.box5{
  top: 1px;
  width: 895px;
  height: 1080px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1px solid var(--unnamed-color-f0eff4);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0EFF4;
  border-radius: 10px;
  opacity: 1;
}
.text7{
  height: 60px;
  color: var(--unnamed-color-ffffff);
  text-align: left;
  font: normal normal bold 15px/70px FC Iconic;
  color: #2A2866;
  opacity: 1; 
}
.crad{
  top: 10px;
  width: 900px;
  height: 80px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 0px solid var(--unnamed-color-f0eff4);
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0EFF4;
  color: #2A2866;
  text-align: left;
  font: normal normal bold 15px/1px FC Iconic;
  letter-spacing: 0px;
  padding: 1px;
  opacity: 1;
  }
  .cradgrid{
    top: -10px;
    color: #2A2866;
    text-align: left;
    right: -250px;
    width: 241px;
    height: 47px;
    background:#F9F9FB ;
    border: 1px solid var(--unnamed-color-f0eff4);
    background: #F0EFF4 0% 0% no-repeat padding-box;
    border-radius: 10px;
  }
  .cradmenu{
  top: 20px;
  width: 900px;
  height: 90px;
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #F0EFF4;
  color: #2A2866;
  text-align: left;
  font: normal normal bold 15px/px FC Iconic;
  letter-spacing: 0px;
  padding: 1px;
  opacity: 1;
  }

